#cats{
    margin-top: 50px;
}

.item{
    margin-right: 30px;
}

.name{
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    background-color: #eee;
}

.remove, .add{
    width: 30px;
    margin-left: 10px;
    height: 30px;
    padding: 4px 0 0 0;
}

.remove{
    padding-right: 2px;
}

.add-root{
    margin-right: 40px;
    margin-top: 10px;
}