/*@import "login.css";*/

.b-settings {
    margin-top: 30px;
}

.admin-nav>li>a{
    border-radius: 0;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.oUsers, .sUsers, .eUsers{
    margin: 10px 0;
    padding: 0 20px 20px 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.oUsers.hover, .eUsers.hover, .sUsers.hover {
    border: 3px solid green;
}

.col-lg-4{
    float: right;
}

.users-container h2{
    font-size: 20px;
    margin-bottom: 0;
}

.users-container{
    text-align: right;
}

.col-lg-4:hover{
    z-index: 10;
}
.user{
    cursor: move;
    margin: 5px;
}

.item{
    margin-right: 30px;
}

.name{
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    background-color: #eee;
}

.remove, .add{
    width: 30px;
    margin-left: 10px;
    height: 30px;
    padding: 4px 0 0 0;
}

.remove{
    padding-right: 2px;
}

.add-root{
    margin-right: 30px;
    margin-top: 10px;
}

.activity.pager-wrapper {
    position: absolute;
    bottom: 30px;
    left: 45%;
}