@(myForm: Form[models.Resource])
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }

@styles = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")" media="screen" type="text/css" />
}

@base(title="افزودن مرجع", styles=styles) {
<div class="addResource container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr class="colorgraph">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#book" role="tab" data-toggle="tab">کتاب</a></li>
                <li role="presentation"><a href="#article" role="tab" data-toggle="tab">مقاله</a></li>
                <li role="presentation"><a href="#website" role="tab" data-toggle="tab">وبسایت</a></li>
                <li role="presentation"><a href="#video" role="tab" data-toggle="tab">ویدئو</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="panel tab-pane active" id="book">
                    <div class="panel-body">
                        @form(routes.Accounts.addResource, 'method ->"POST", 'enctype -> "multipart/form-data", 'id -> "bookForm") {
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @inputText(myForm("name"))
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @inputText(myForm("owner"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="">
                                    <label for="content">محتوا</label>
                                    <div class="input form-group">
                                        <input type="file" id="content" name="content" value="" class="form-control large-input">
                                        <span class="errors"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                @inputText(myForm("url"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                @inputText(myForm("description"), 'class -> "form-control large-input")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12"><input type="submit" value="افزودن منبع" class="btn btn-primary btn-block btn-lg center-block" tabindex="9"></div>
                        </div>
                        }
                    </div>
                </div>
                <div role="tabpanel" class="panel tab-pane" id="article">
                    <div class="panel-body">
                        @form(routes.Accounts.updateProfile, 'id -> "signUpForm") {
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @inputText(myForm("firstName"))
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @inputText(myForm("lastName"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @inputText(myForm("nationalId"))
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                @inputText(myForm("contactPhone"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12"><input type="submit" value="به‌روزرسانی مشخصات" class="btn btn-primary btn-block btn-lg center-block" tabindex="9"></div>
                        </div>
                        }
                    </div>
                </div>
                <div role="tabpanel" class="panel tab-pane" id="website">
                    وبسایت
                </div>
                <div role="tabpanel" class="panel tab-pane" id="video">
                    ویدیو
                </div>
            </div>
            <hr class="colorgraph">
        </div>

    </div>
</div>
}