<html>
    <head>
        <script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/index.js")'></script>

        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.min.css")' />
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/index.css")' />
        <meta charset="utf-8"/>
    </head>

    <body>

        <div class="nav-wrapper">
            <nav class="navigation">
                <div class="container">
                    <div class="title" >
                        <a>
                        چابک‌نت
                        </a>
                    </div>
                    <div class="items">
                        <ul>
                            <li><a>مراجع</a></li>
                            <li><a>رخداد‌ها</a></li>
                            <li><a href="/signup">ثبت‌نام</a></li>
                            <li><a href="/login">ورود</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <header class="header">
            <div class="right-part">
                <h1>
                    با ما چابک شوید
                </h1>
            </div>
            <div class="left-part">
                <input type="text" class="form-control" placeholder="آدرس ایمیل">
                <input type="text" class="form-control" placeholder="رمز عبور">
                <p>
                    با انتخال گزینه‌ی ثبت‌نام شما با
                    <a>
                        قوانین و مقررات سایت
                    </a>
                    موافقت می‌کنید.
                </p>
                <button class="btn btn-success submit">ثبت نام</button>
            </div>
        </header>
        <div class="container">
            
        </div>
    </body>
</html>