@(resource: models.Resource, userRate: Integer, user: models.User)
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }

@scripts = {
    <script type="text/javascript">
    var rate = @resource.getRate();
    var userRate = @userRate;
    var resourceId = @resource.id;
    var userName = "@user.firstName";
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jdate.min.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/resource.js")"></script>
}
@styles = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/resource.css")" media="screen" type="text/css" />
}

@base(title="مشاهده‌ی مرجع", styles=styles, scripts = scripts) {

    <div class="b-resource container no-padding">
        <div class="row margin-top-40">
            <div class="col-md-3">

                <img class="center-block" @if(resource.resourceType == ResourceType.BOOK){src="@routes.Assets.at("/images/resources/book.png")"}
                    @if(resource.resourceType == ResourceType.ARTICLE){src="@routes.Assets.at("/images/resources/book.png")"}
                    @if(resource.resourceType == ResourceType.VIDEO){src="@routes.Assets.at("/images/resources/video.png")"}
                    @if(resource.resourceType == ResourceType.WEBSITE){src="@routes.Assets.at("/images/resources/website.png")"}
                >
                <div id="resource-user-rate" class="ltr margin-top-10 float right center-block"></div>
            </div>
            <div class="col-md-7 margin-top-30">
                <h1>@resource.name</h1>
                <div>
                    <div id="resource-rate" class="right-inline float right ltr"></div>
                </div>
                <div class="resource download float left">
                @if(resource.fileUrl != null && !resource.fileUrl.equals("")) {
                    <a href="@routes.Assets.at(resource.fileUrl)" class="btn btn-primary btn-lg download-button">دانلود</a>
                }
                </div>

                <div class="disp-block margin-top-40">
                    @if(resource.owner != null && !resource.owner.equals("")) {
                        <h5>
                            از
                            @resource.owner
                        </h5>
                    }
                    @if(resource.url != null && !resource.url.equals("")){
                        <div class="margin-top-10">
                            <a href="@resource.url">
                                پیوند
                            </a>
                        </div>
                    }
                </div>

                <div class="margin-top-10">
                @for(c <- resource.categories) {
                    <div class="category-tag">@c.name</div>
                }
                </div>

            </div>
        </div>
        @if(resource.description != null && !resource.description.equals("")) {
            <div class="row margin-top-30 padding-top-20 top-border">
                <div class="col-md-12">@resource.description</div>
            </div>
        }

        <div>
            <p class="margin-top-30">نظر دهید:</p>
            <textarea class="form-control" id="comment-body" rows="3"></textarea>
            <button type="button" id="submit-comment" class="btn btn-primary margin-top-10" data-loading-text="در حال ارسال" id="comment-submit">ارسال</button>
        </div>

        <div class="row margin-top-30 padding-top-20 top-border">
            <h3>
                نظرات
            </h3>
            <div id="comments-container">
            @for(c <- resource.comments.reverse) {
                <div id="comment-@c.id" class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="margin-left-10">@c.user.firstName</span>
                        <span class="datetime">@c.date</span>
                        <span class="float left">
                            <span id="comment-num-of-likes-@c.id" class="margin-left-10">@c.getRate</span>
                            @if(c.getUpvotes.contains(user)) {
                                <span id="dislike-@c.id" class="glyphicon glyphicon-thumbs-down clickable"></span>
                            } else {
                                <span id="like-@c.id" class="glyphicon glyphicon-thumbs-up clickable"></span>
                            }
                        </span>
                    </div>
                    <div class="panel-body">
                        @c.body
                    <div class="float left">
                        <span id="comment-icon-@c.id" class="glyphicon glyphicon-comment clickable"></span>
                    </div>
                    </div>
                </div>

                @for(subc <- c.getComments){
                    <div class="panel panel-info margin-right-40">
                        <div class="panel-heading">
                            <span class="margin-left-10">@subc.user.firstName</span>
                            <span class="datetime">@subc.date</span>
                            <span class="float left">
                                <span id="comment-num-of-likes-@subc.id" class="margin-left-10">@subc.getRate</span>
                                @if(subc.getUpvotes.contains(user)) {
                                    <span id="dislike-@subc.id" class="glyphicon glyphicon-thumbs-down clickable"></span>
                                } else {
                                    <span id="like-@subc.id" class="glyphicon glyphicon-thumbs-up clickable"></span>
                                }
                            </span>
                        </div>
                        <div class="panel-body">@subc.body</div>
                    </div>
                }
            }
            </div>
        </div>
    </div>

}