@(user: models.User)

@scripts = {
    <script type="text/javascript">
        function initialize(AGS) {
            AGS.resourceTypeImages = {
                'book': '@routes.Assets.at("images/resources/book.png")',
                'article': '@routes.Assets.at("images/resources/article.png")',
                'website': '@routes.Assets.at("images/resources/website.png")',
                'video': '@routes.Assets.at("images/resources/video.png")'
            };

            AGS.imagePath = '@routes.Assets.at("images/")';
            AGS.loadCategoryURL = '@routes.Categories.listCategoriesAsMap';
            AGS.searchURL = '@routes.Resources.search';
            AGS.addCategoryURL = '@routes.Categories.addCategory';
            AGS.addResourceCategoryURL = '@routes.Resources.addCategory';
            AGS.removeResourceCategoryURL = '@routes.Resources.removeCategory';
        }

    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/search.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/searchmodal.js")"></script>
}
@styles = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/search.css")" media="screen" type="text/css" />
}

@base(title="چابکنت‌|‌مراجع", styles=styles, scripts=scripts) {
    <div class="b-resource-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12 filter-history-list-wrapper">
                    <div class="topic filter-history-list">
                        <script id="filter-history-item-template" type="text/x-handlebars-template">
                        <div data-selection="{{selection}}" class="topic filter-history item {{order}}">
                        <div class="main">
                        {{name}}
                        </div>
                        <div class="arrow">
                        </div>
                        </div>
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                    <!-- SIDEBAR -->
                <div class="hidden-sm col-md-3">
                    <div class="sidebar-container">
                        <div class="filter-container topic-container">

                            <div class="topic filter-list-wrapper">
                                <ul class="topic filter-list">
                                    <li class="topic filter">
                                        اسم یک موضوع
                                    </li>
                                </ul>

                            </div>
                            @if(user != null && (user.hasRole("expert") || user.hasRole("admin"))) {
                                <div class="search-box">
                                    <form id="newcat-form" method="post">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="دسته‌‌ی جدید...">
                                            <span class="input-group-btn">
                                                <button class="search btn btn-default" type="button">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </form>
                                </div>
                            }
                        </div>
                        <div class="search-box">
                            <form id="search-form" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="جستجو...">
                                    <span class="input-group-btn">
                                        <button class="search btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                        <div class="filter-container type-container">
                            <div class="type filter-list-wrapper">
                                <ul class="filter-list">
                                    <li data-val='book' class="type filter">
                                        کتاب
                                    </li>
                                    <li data-val='article' class="type filter">
                                        مقاله
                                    </li>
                                    <li data-val='video' class="type filter">
                                        فیلم
                                    </li>
                                    <li data-val='website' class="type filter">
                                        وبسایت
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /SIDEBAR -->

                <div class="col-sm-12 col-md-9">
                    @if(user != null && (user.hasRole("expert") || user.hasRole("admin"))) {
                        <button type="button" class="addmodal btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">
                            انتخاب مراجع دسته
                        </button>
                    }
                    <div class="search-result-container">
                        <script id="search-result-template" type="text/x-handlebars-template">
                        <div class="search result item">
                        <img class="search result image" src={{image}}>
                        </img>
                        <div class="search result details">
                        <div class="header">
                        <a class="title" href="/resource/{{id}}">{{name}}</a>
                        <span class="date">{{date}}</span>
                        <div class="uploader">
                        <span class="label">
                        {{#if user}}
                        از
                        {{/if}}
                        </span>
                        <a class="name">
                        {{user}}
                        </a>
                        </div>
                        </div>
                        <div class="description">
                        {{description}}
                        </div>
                        </div>

                        <div class="search result extra"><div class="rating"></div>
                        </div>
                        </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="b-search-modal modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="mysModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">اضافه کردن مرجع</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="modal-search" class="form-control modal-search-input" placeholder="">
                    <div class="result-list">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>نام مرجع</th>
                                    <th>نوع مرجع</th>
                                    <th>تاریخ اضافه شدن</th>
                                    <th>امتیاز</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                    <button type="button" class="btn btn-primary">ثبت</button>
                </div>
            </div>
        </div>
    </div>
}