@(form: play.data.Form[Accounts.SignupForm])

@styles = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")" media="screen" type="text/css" />
}

@base(title="چابک‌نت", styles=styles) {
        <div class="signup container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                    @helper.form(routes.Accounts.signupSubmit, 'id -> "signUpForm") {

                        <h2 class="text-right">لطفا عضو شوید. <small>عضویت رایگان است</small></h2>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group @if(form("lastName").errors.size > 0) {has-error}">
                                    @helper.inputText(form("lastName"), 'id -> "lastName", 'class -> "form-control input-lg text-right", 'placeholder -> "نام خانوادگی" , 'tabindex -> "2", '_label -> null)
                                    @*<input type="text" name="lastName" id="lastName" class="form-control input-lg text-right" placeholder="نام خانوادگی" tabindex="2">*@
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group @if(form("firstName").errors.size > 0) {has-error}">
                                    @helper.inputText(form("firstName"), 'id -> "firstName", 'class -> "form-control input-lg text-right", 'placeholder -> "نام" , 'tabindex -> "1", '_label -> null)
                                    @*<input type="text" name="firstName" id="firstName" class="form-control input-lg text-right" placeholder="نام" tabindex="1">*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group @if(form("contactPhone").errors.size > 0) {has-error}">
                                    @helper.inputText(form("contactPhone"), 'id -> "contactPhone", 'class -> "form-control input-lg", 'placeholder -> "شماره تلفن" , 'tabindex -> "3", '_label -> null)
                                    @*<input type="text" name="" id="contactPhone" class="form-control input-lg" placeholder="شماره تلفن" tabindex="3">*@
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group @if(form("lnationalID").errors.size > 0) {has-error}">
                                    @helper.inputText(form("nationalID"), 'id -> "nationalID", 'class -> "form-control input-lg", 'placeholder -> "شماره ملی" , 'tabindex -> "4", '_label -> null)
                                    @*<input type="text" name="" id="nationalID" class="form-control input-lg" placeholder="شماره ملی" tabindex="4">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group @if(form("email").errors.size > 0) {has-error}">
                            @helper.inputText(form("email"), 'id -> "email", 'type -> "email", 'class -> "form-control input-lg", 'placeholder -> "پست الکترونیکی" , 'tabindex -> "5", '_label -> null)
                            @*<input type="email" name="email" id="email" class="form-control input-lg" placeholder="پست الکترونیکی" tabindex="5">*@
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group @if(form("password").errors.size > 0) {has-error}">
                                    @helper.inputPassword(form("password"), 'id -> "password", 'class -> "form-control input-lg", 'placeholder -> "رمز عبور" , 'tabindex -> "6", '_label -> null)
                                    @*<input type="password" name="password" id="password" class="form-control input-lg" placeholder="رمز عبور" tabindex="6">*@
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group @if(form("passwordConfirm").errors.size > 0) {has-error}">
                                    @helper.inputPassword(form("passwordConfirm"), 'id -> "passwordConfirm", 'class -> "form-control input-lg", 'placeholder -> "رمز عبور مجدد" , 'tabindex -> "7", '_label -> null)
                                    @*<input type="password" name="passwordConfirm" id="password_confirmation" class="form-control input-lg" placeholder="رمز عبور مجدد" tabindex="7">*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="info" tabindex="8">موافقم</button>
                                    <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                                </span>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 text-right">
					 با کلیک <strong class="label label-primary">ثبت‌نام</strong>
                                 شما با <a href="#" data-toggle="modal" data-target="#t_and_c_m">قوانین و مقررات</a>
                                این سایت موافقت کرده‌اید
				</div>
                        </div>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"><input type="submit" value="ثبت‌نام" class="btn btn-primary btn-block btn-lg center-block" tabindex="9"></div>
                            @*<div class="col-xs-6 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg" tabindex="10">ورود</a></div>*@
                        </div>
                    }
                </div>
            </div>
                <!-- Modal -->
            <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                قوانین و مقررات
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            </p>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            </p>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">موافقم</button>
                        </div>
                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal -->
        </div>
}