@(subc: models.Comment, user: models.User, panelType: String, removeOrOk: String)
<div id="subComment-@subc.id" class="panel panel-@panelType margin-right-40">
  <div class="panel-heading">
    <span class="margin-left-10">@subc.user.firstName</span>
    <span class="datetime">@subc.date</span>
    <span id="span-like-@subc.id" class="float left">
      <span id="comment-num-of-likes-@subc.id" class="margin-left-10">@subc.getRate</span>
      @if(subc.getUpvotes.contains(user)) {
        <span id="dislike-@subc.id" class="glyphicon glyphicon-thumbs-down clickable"></span>
      } else {
        <span id="like-@subc.id" class="glyphicon glyphicon-thumbs-up clickable"></span>
      }
      @if(user.hasRole("admin")){
        <span id="@removeOrOk-@subc.id" class="glyphicon glyphicon-@removeOrOk margin-right-10 clickable"></span>
      }
    </span>
  </div>
  <div class="panel-body">@subc.body</div>
</div>